[submodule "modules/NativeDialogs"]
	path = modules/NativeDialogs
	url = https://github.com/GodotExplorer/NativeDialogs.git
[submodule "editor/addons/FontAwesome"]
	path = editor/addons/FontAwesome
	url = https://github.com/GodotExplorer/FontAwesome.git
[submodule "editor/addons/gdutils"]
	path = editor/addons/gdutils
	url = https://github.com/GodotExplorer/gdutils.git
